<div id="schemaOptions">
  <div class="toLeft">
    <md-select placeholder="Select schema" (change)="changedSelectSchema($event)" [ngModel]="selectedSchema.name"> <!-- [(ngModel)]="selectedSchema.name" -->
       <md-option *ngFor="let schema of schemas" [value]="schema.name" >{{ schema.name }}</md-option>
    </md-select>
  </div>
  <!--<div class="toLeft marginL20">-->
    <!--<md-select placeholder="Select framework" (change)="changedFrameworkSchema($event)"  [(ngModel)]="frameWorkName">-->
        <!--<md-option *ngFor="let framework of frameWorksName" [value]="framework.value" >{{ framework.name }}</md-option>-->
    <!--</md-select>-->
  <!--</div>-->
</div>
<div id="jsonSchemaBlock">
  <div class="toLeft">
    <h3>
     Json Schema
    </h3>
    <div style="height: 350px;overflow: auto;">
      <div ace-editor
           [text]="schemaEditorValue"
           [options]="aceEditorOptions"
           [readOnly]="false"
           [autoUpdateContent]="true"
           (textChanged)="generateForm($event)"
           [mode]="'sql'"
           [theme]="'eclipse'"
           [style.height]="'150px'"
      ></div>
    </div>
    <div>
      <h3>
        Changed Data
      </h3>
      <div>
        <div ace-editor
             [text]="changedData"
             [options]="aceEditorOptions"
             [readOnly]="true"
             [autoUpdateContent]="true"
             [style.height]="'250px'"
             [mode]="'sql'"
             [theme]="'eclipse'"
             [style.width]="'500px'"
        ></div>
      </div>
    </div>
    <div>
      <h3>
        Submited Data
      </h3>
      <div>
        <div ace-editor
             [text]="submitedData"
             [readOnly]="true"
             [autoUpdateContent]="true"
             [mode]="'sql'"
             [theme]="'eclipse'"
             [style.height]="'150px'"
             [style.width]="'500px'"
        ></div>
      </div>
    </div>
  </div>
  <div class="toLeft jsonSchemaBlock">
    <h3>
      Json schema result
    </h3>
     <json-schema-view [form]="selectedSchema.value"  [frameWorkName]="frameWorkName" (onChanges)="schemaChanges($event)" (onSubmit)="submitedValue($event)" (inctanceOfWidgets)="inctanceOfWidgets($event)"></json-schema-view>

   <!--[model]="model"-->
  </div>
</div>

